.bg {
  background-image: url('../img/optimized-triangle-park.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.quote {
  background-color: rgba(183, 165, 165, 0.38)
}

.lighter {
  color: rgba(255, 255, 255, 0.73);
}
