.bg {
  background-image: url('../img/lexington.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

@media (max-width:700px) {
  .bg {
    background-image: url('../img/optimized-lexington.png');
  }
}

.quote {
  background-color: rgba(183, 165, 165, 0.38)
}
