.chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

text {
  pointer-events: none;
  /* white-space: normal; */
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #E0E0E0;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #3787BA;
}

.grandparent:hover rect {
  fill: #0057A8;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #BFBFBF;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #BFBFBF;
}
