<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" style="color: rgba(119, 119, 119, 0.4)" href="#">The Next LexingtonKY.gov</a>
      <a class="navbar-brand" href="#">How we get there:</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">1. Discovery <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/discovery-report">Discovery Report</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">2. Alpha <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/content-migration-plan">Content Migration Plan</a></li>
            <li><a href="{{ site.baseurl }}/">Resident Survey</a></li>
            <!-- <li><a href="#">Resident Survey Analysis</a></li> -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">3. Beta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/discovery-report/#beta-phase">Beta Plan from Discovery Report</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">4. Live <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/discovery-report/#live-phase">Live Plan from Discovery Report</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
